.clients {
  padding: 94px 0;
}

.clients__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 0 50px;
}
.clients__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}
.clients__item {
  padding: 16px 32px;
  width: 170px;
  height: 92px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--color--icon-gray);
  border-radius: 4px;
  color: var(--color--icon-gray);

  transition: color 0.3s, border-color 0.3s;
}

.clients__item:hover {
  color: var(--color--blue);
  border-color: var(--color--blue);
}

.clients__icon {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: inherit;
}
