.filters {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filters__button {
  padding: 0 22px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;

  height: 36px;

  border: none;
  border-radius: 4px;

  cursor: pointer;
  transition: all 0.3s;
}

.filters__button:hover {
  color: #fff;
  background-color: var(--color--blue);

}

.filters__button--active {
  color: #fff;
  background-color: var(--color--blue);

  box-shadow: 0px 2px 2px 0px #0000001f;

  box-shadow: 0px 1px 2px 0px #00000014;

  box-shadow: 0px 3px 1px 0px #0000001a;
}
.filters__item {
}