.nav {
  display: flex;
}

.nav__list {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 50px;

  list-style: none;
}

.nav__item {
  display: flex;
}

.nav__link {
  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: var(--color--text-black);
  text-decoration: none;

  transition: color 0.3s;
}
.nav__link:hover
 {
  color: var(--color--blue);
}
